.create-channel-container {
  width: 100%;
  max-width: 800px;
 margin-left: 20%;
 margin-top: 1%;
  padding: 20px;
  background-color: #0f0f0f;
  color: white;
  border-radius: 12px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);

}

.create-channel-container h2 {
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 30px;
}

.channel-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.channel-form label {
  margin-bottom: 8px;
  font-size: 14px;
  color: #aaaaaa;
}

.channel-form input[type="text"],
.channel-form input[type="url"],
.channel-form textarea {
  background-color: #1f1f1f;
  color: white;
  border: 1px solid #333;
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 15px;
  transition: border 0.3s ease;
}

.channel-form input:focus,
.channel-form textarea:focus {
  border-color: #3ea6ff;
  outline: none;
}

.channel-form textarea {
  resize: none;
  line-height: 1.5;
}

.channel-form button {
  align-self: flex-start;
  background-color: #3ea6ff;
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.channel-form button:hover {
  background-color: #358dde;
}

.canelC{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.canelC button{
  border: none;
  background-color: transparent;
  height: 30px;
  margin-bottom: 5%;
  scale: 0.4;
  
}

.canelC button:hover{
  cursor: pointer;
  scale: 0.5;
}