*{
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  /* background-color: #0F0F0F; */
}


body{
  background-color: #0F0F0F;
  color: white;
  height: 100%;
  overflow: hidden; 

}