.add-video-container {
  background: #0f0f0f;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  height: auto;
  /* margin: auto; */
  margin-top: 5%;
  margin-left: 30%;
  
}

.add-video-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-video-form input,
.add-video-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #1f1f1f;
  color: white;
}

.add-video-form button {
  padding: 10px;
  border: none;
  background: red;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.upload-message {
  margin-top: 10px;
  font-weight: bold;
}
.cancel{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1%;
  align-items: center;
  
}

.cancel button{
  background-color: transparent;
  border: none;
  height: 30px;
  margin-bottom: 5%;
  scale: 0.4; 
  
}

.cancel button:hover{
   cursor: pointer;
  scale: 0.5;
}