.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0f0f0f;
  color: white;
  
}

.auth-box {
  background-color: #1f1f1f;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
   margin-top: -150px;
}

.auth-box h2 {
  margin-bottom: 20px;
  text-align: center;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: #333;
  border: none;
  border-radius: 5px;
  color: white;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.auth-box p {
  margin-top: 15px;
  text-align: center;
}

.auth-box a {
  color: #1e90ff;
  text-decoration: none;
}
